.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory
shiny/shiny.Rproj
ms_figures/
ms_feedback/
#*.pdf
original_data
#manuscript.pdf
/submission/
manuscript.pdf
manuscript.log
manuscript.docx
/resubmission/
/old/
