.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory
shiny/shiny.Rproj
ms_figures/
ms_feedback/
original_data
/submission/
/resubmission/
/old/
/empirical_analyses/
02_title_page*
03*
04*
07*
08*
09*
10_main_manuscript*
ecography.csl
sampbias.bib
SampBias.Rproj
/proofs/
docs
